@model List<ViewModels.AdminViewModel.Blog.Vm_Blog>



 <div class="featured-products-wrapper py-3">
        <div class="container" style="margin-top: 50px !important;">
          <div class="section-heading d-flex align-items-center justify-content-between">
            <h1 class="text-center alert alert-light form-control">  @TempData["cat"]</h1>
          </div>
          <div class="row g-3">
            <!-- Featured Product Card-->

             @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                      <div class="col-6 col-md-4 col-lg-3" >
                        <div class="card featured-product-card">
                          <div class="" style="min-height: 170px;">
                            <!-- Badge--><span class="badge badge-warning custom-badge"><i class="lni lni-star"></i></span>
                            <div class="product-thumbnail-side">
                              <!-- Wishlist Button -->
                              <!-- Thumbnail --><a class="product-thumbnail d-block" href="blog/details/@item.Id"><img src="/fileupload/@item.ImageMainBlo" alt="" ></a>
                            </div>
                            <div class="product-description">
                              <!-- Product Title --><a class="product-title d-block" href="blog/details/@item.Id" style="text-overflow: ellipsis;white-space: nowrap;padding: 5px;overflow: hidden; ">@item.TitleBLo</a>
                              <!-- Price -->
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    }

                }else
                {
                  <p class="form-control text-center">هیچ خدمت یا کالایی ثبت نشده فعلا برای این دسته بندی...</p>
                }
         
          </div>
        </div>
      </div>