   <!-- Start of Main -->
   <style>
       
          
      
       div.col-md-3{
           @* border:1px solid gray; *@
           padding: 10px;
           margin:0px;
           margin-bottom:15px
           
        
           
       }
       p.text-uppercase{
           font-size: large;
       }
      
   </style>
        <main class="main">
            <!-- Start of Page Header -->
                    <h2 class="form-control  text-center mt-5 card" style="background-color:lightblue">حساب کاربری من </h2>
                
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
           
            <!-- End of Breadcrumb -->

            <!-- Start of PageContent -->
            <div class="page-content pt-2">
                <div class="container">
                   
                                                

                                   <div class="row" style=" padding-left: 15px;padding-right: 15px; 
                                    border-radius: 15px; ">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card ">
                                        <a href="profile/add" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-orders">
                                                    <i class="w-icon-orders2"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">ثبت صفحه</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="profile/listnotvertify" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-download">
                                                    <i class="w-icon-return"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">صفحه های در انتظار تایید  </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="profile/listvertify" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-address">
                                                    <i class="w-icon-verification"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">صفحه های تایید شده </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="profile/listreject" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-account">
                                                    <i class="w-icon-reviews"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">صفحه های رد شده  </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="profile/listreport" class="link-to-tab">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-wishlist">
                                                    <i class="w-icon-download"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">گزارش صفحه ها </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="profile/profileme">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-logout">
                                                    <i class="w-icon-visit"></i>
                                                </span>
                                                <div class="icon-box-">
                                                    <p class="text-uppercase mb-0">تنظیمات پروفایل  </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="profile/pass">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-logout">
                                                    <i class="w-icon-user"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">تغییر رمز </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="home/exit">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-logout">
                                                    <i class="w-icon-logout"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">خروج </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  card">
                                        <a href="profile/factor">
                                            <div class="icon-box text-center">
                                                <span class="icon-box-icon icon-shopify">
                                                    <i class="w-icon-shopify"></i>
                                                </span>
                                                <div class="icon-box-content">
                                                    <p class="text-uppercase mb-0">سبد خرید شما </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                               

                           
                        </div>
                    </div>
               
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->