<!-- Start of Main -->
<style>
    table{
        width: 100%;
        
    }
    td{
        border:1px solid black;
        text-align: center;
    }
    tr:nth-child(even)
    {
       background-color: gray;
       color:white
    }
     th{
           text-align: center;
           
       }

</style>
<main class="main">
    <!-- Start of Page Header -->
    
            <h2 class="form-contrl  text-center" style="background-color: lightblue; margin-top: 60px;padding: 10px;">

                لیست صفحات در انتظار تایید 
            </h2>
       
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->

    <!-- End of Breadcrumb -->

    <!-- Start of PageContent -->
    <div class="page-content pt-2" >
        <div class="container card" >
             @*Titleeeeeeeeeeeeeeeeeeeeeeeeeeeeee*@

            <div class="row justify-content-center p-2"  >


               


                                      <p  class="alert alert-danger text-center" style="padding: 25px;">هیچ آیتمی فعلا وجود   وجود ندارد </p>



                      
                    


             

               


            </div>


            </div>
    </div>
            

          

                


                

               


            


           









        

    <!-- End of PageContent -->
</main>
<!-- End of Main -->
<script>

    function show()
    {
        document.getElementById('des').style.display='';

    }
     function hide()
    {
        document.getElementById('des').style.display='none';
        
    }






</script>