 <div class="page-content-wrapper card">
      <div class="container card">
        <div class="pt-3">

            @* khadamattttttttttttttttttttttttttttttttttttttttttttttttttttttt *@

            <div id="khadamat" style="display: none;">

                                                                <p class="form-control text-center" style="background-color: whitesmoke;">انتخاب  زیر دسته </p>

                                             <a class="form-control "  style="margin-top: 10px;"  href="home/category?name=خدمات نجاری و غرفه">
                                                <i class="w-icon-category"></i>
                                                خدمات نجاری و غرفه                                    	
                                                
                                            </a>
                                            
                                       
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=برش ام دی اف/نوار پی وی سی">
                                                <i class="w-icon-category"></i>برش ام دی اف /نوار پی وی سی 
                                            </a>
                                       
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات سی ان سی">
                                                <i class="w-icon-category"></i>خدمات سی ان سی 
                                            </a>
                                           
                                        
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات برق غرفه">
                                                <i class="w-icon-category"></i>خدمات برق غرفه 
                                            </a>
                                            
                                        
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات نورپردازی حرفه ای">
                                                <i class="w-icon-category"></i>خدمات نورپردازی حرفه ای 
                                            </a>
                                            
                                        
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات نقاشی غرفه">
                                                <i class="w-icon-category"></i>خدمات نقاشی غرفه
                                            </a>
                                            
                                        
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات آهن کاری غرفه">
                                                <i class="w-icon-category"></i>خدمات آهن کاری غرفه
                                            </a>
                                           
                                       
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات ساخت لوگو">
                                                <i class="w-icon-category"></i>خدمات ساخت لوگو 
                                            </a>
                                          
                                        
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات نصب لوگو">
                                                <i class="w-icon-category"></i>خدمات نصب لوگو 
                                            </a>
                                       
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات نصب شیشه">
                                                <i class="w-icon-category"></i>خدمات نصب شیشه  
                                            </a>
                                          
                                       
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات نصب پارکت">
                                                <i class="w-icon-category"></i> خدمات نصب پارکت
                                            </a>
                                            
                                      
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات نصب کاغذ دیواری">
                                                <i class="w-icon-category"></i>خدمات نصب کاغذ دیواری 
                                            </a>
                                          
                                        
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=خدمات نرده های فلزی">
                                                <i class="w-icon-category"></i>خدمات نرده های فلزی 
                                            </a>
                                       
                                       
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=اجاره کف غرفه">
                                                <i class="w-icon-category"></i>اجاره کف غرفه 
                                            </a>
                                       
                                             <a class="form-control "  style="margin-top: 10px;" href="home/category?name=اجاره مبلمان غرفه">
                                                <i class="w-icon-category"></i>اجاره مبلمان غرفه 
                                            </a>
<a class="form-control text-center" onclick="back()" style="margin-top: 10px;background-color: whitesmoke;">بازگشت</a>
            </div>


            @* sherkattttttttttttttttttttttttttttttttttttttttttttttttttttttt *@


                                <div id="sherkat" style="display: none;" >

                                                <p class="form-control text-center" style="background-color: whitesmoke;">انتخاب  زیر دسته </p>
                                            

                                                  <a href="home/category?name=غرفه خودساز"   class="form-control "  style="margin-top: 10px;" >غرفه خودساز</a>
                                                  
                                                   
                                                      <a href="home/category?name=غرفه مودلار"  class="form-control "  style="margin-top: 10px;">غرفه مودلار	 </a>

                                                   
                                                  
                                                   <a href="home/category?name=اسپیس فریم"    class="form-control "  style="margin-top: 10px;">اسپیس فریم	 </a>
                                                
                                                <a class="form-control text-center" onclick="back()" style="margin-top: 10px;background-color: whitesmoke;">بازگشت</a>
                                  </div>

        @* kalaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa *@


                                <div id="kala" style="display: none;" >
                                                <p class="form-control text-center" style="background-color: whitesmoke;">انتخاب  زیر دسته </p>

                                    
                                                          <a href="home/category?name= ام دی اف و نوپان" class="form-control "  style="margin-top: 10px;">ام دی اف و نوپان 	 </a>  
                                                       
                                                           <a href="home/category?name=نوپان دست دوم" class="form-control "  style="margin-top: 10px;">   نوپان دست دوم  	 </a>   
                                                        
                                                            <a href="home/category?name=یراق آلات" class="form-control "  style="margin-top: 10px;">     یراق آلات </a>   
                                                          
                                                     <a href="home/category?name=کفپوش و پارکت" class="form-control "  style="margin-top: 10px;">  کفپوش و پارکت </a> 
                                               
                                                    <a href="home/category?name=رنگ و رزین" class="form-control "  style="margin-top: 10px;">   رنگ و رزین  </a>
                                                
                                                    <a href="home/category?name=نماپوش" class="form-control "  style="margin-top: 10px;"> نماپوش   </a>
                                               
                                                    <a href="home/category?name=الکتریکی و روشنایی" class="form-control "  style="margin-top: 10px;"> الکتریکی و روشنایی   </a>
                                                
                                                     <a href="home/category?name=شیشه" class="form-control "  style="margin-top: 10px;"> شیشه</a>
                                                
                                                     <a href="home/category?name=گل و گیاه" class="form-control "  style="margin-top: 10px;"> گل و گیاه</a>
                                                
                                                    <a href="home/category?name=استند و پاپ آپ" class="form-control "  style="margin-top: 10px;">  استند و پاپ آپ </a>
                                                

                
                                          <a class="form-control text-center" onclick="back()" style="margin-top: 10px;background-color: whitesmoke;">بازگشت</a>
                                  </div>
          @* mashineeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee *@


                                <div id="mashin" style="display: none;">
                                                <p class="form-control text-center" style="background-color: whitesmoke;">انتخاب  زیر دسته </p>

                  
                                                 <a href="home/category?name=ماشین الات اداری"  class="form-control "  style="margin-top: 10px;"> ماشین الات اداری </a>
                                             
                                                 <a href="home/category?name=تجهیزات و ماشین آلات اداری"  class="form-control "  style="margin-top: 10px;">تجهیزات و ماشین آلات اداری</a>
                                              <a class="form-control text-center" onclick="back()" style="margin-top: 10px;background-color: whitesmoke;">بازگشت</a>
                                  </div>
      @* niroensaniiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii *@


                                <div id="niro" style="display: none;">
                                                <p class="form-control text-center" style="background-color: whitesmoke;">انتخاب  زیر دسته </p>

                
                                                    <a href="home/category?name=نیروی انسانی آماده به کار"  class="form-control "  style="margin-top: 10px;"> نیروی انسانی آماده به کار</a>
                                                
                                                    <a href="home/category?name=نیروی انسانی"  class="form-control "  style="margin-top: 10px;"> نیروی انسانی</a>
                                                <a class="form-control text-center" onclick="back()" style="margin-top: 10px;background-color: whitesmoke;">بازگشت</a>
                                  </div>



                                   @* maincat*@


                                <div id="main" >

                                      <div class="product-catagory-wrap">
            <div class="row g-2">
             
              <div class="col-12">
                <div class="card catagory-card">
                  <div class="card-body"><a class="text-danger" onclick="ghorfe()">
                      <span>شرکت های غرفه سازی</span></a></div>
                </div>
              </div>

               <div class="col-12">
                <div class="card catagory-card">
                  <div class="card-body"><a class="text-danger" onclick="kala()">
                      <span>تامین کنندگان کالا</span></a></div>
                </div>
              </div>

               <div class="col-12">
                <div class="card catagory-card">
                  <div class="card-body"><a class="text-danger" onclick="ensan()"">
                      <span>تامین کنندگان منابع انسانی</span></a></div>
                </div>
              </div>
               <div class="col-12">
                <div class="card catagory-card">
                  <div class="card-body"><a class="text-danger" onclick="mashin()"">
                      <span>تامین کنندگان ماشین آلات</span></a></div>
                </div>
              </div>
               <div class="col-12">
                <div class="card catagory-card">
                  <div class="card-body">
                    <a class="text-danger" onclick="khadamat()">
                      <span>تامین کنندگان خدمات</span></a></div>
                </div>
              </div>
               <div class="col-12">
                <div class="card catagory-card">
                  <div class="card-body"><a class="text-danger" href="home/category?name=فری لنسرها	">
                      <span>فری لنسرها</span></a></div>
                </div>

               
              </div>
           <div>
                    <img src="img/cat.jpg" alt="" srcset="">
                </div>
              
            </div>
          </div>

                
                                                  
                                                
                                  </div>





        </div>
     </div>
     </div>

     <script>

         function ghorfe(){
             document.getElementById("main").style.display="none";
             document.getElementById("sherkat").style.display="block";
         }

         function khadamat(){
             document.getElementById("main").style.display="none";
             document.getElementById("khadamat").style.display="block";
         }

          function mashin(){
             document.getElementById("main").style.display="none";
             document.getElementById("mashin").style.display="block";
         }

         function ensan(){
             document.getElementById("main").style.display="none";
             document.getElementById("niro").style.display="block";
         }
          function kala(){
             document.getElementById("main").style.display="none";
             document.getElementById("kala").style.display="block";
         }

         function back()
         {
             document.getElementById("sherkat").style.display="none";
              document.getElementById("khadamat").style.display="none";
              document.getElementById("kala").style.display="none";
              document.getElementById("niro").style.display="none";
              document.getElementById("mashin").style.display="none";
                document.getElementById("main").style.display="block";
         }

     </script>